body{
    overflow-x: hidden;  /* Impede o scroll lateral */
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbccc4;  
    width: 100VW;
    height:120vh; 
}


.box-form {
    background-color: #796255;  
    width: 40%;  
    height: 75%; 
    padding: 20px;  
    border-radius: 12px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    margin-bottom: 5%;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}


label {
    font-size: 16pt;
    color: #fff;  
}


input, select {
    padding: 10px;
    font-size: 14pt;
    border: 2px solid #796255;
    border-radius: 8px;
    margin-bottom: 10px;  
    width: 100%;  
    background-color: #f4f1e4; 
    color: #333;  
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #645146;  
}


button {
    padding: 12px 20px;
    font-size: 16pt;
    background-color: #645146;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

button:hover {
    background-color: #523e33; 
}


.size{
    width: 40%;
    height: 50%;             /* coloquei a classe size na "box-form da pagina "size"*/           
    margin-bottom: 20%;
    background-color: #796255; 
    padding: 20px;  
    border-radius: 12px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20%;  
}


.style{
    width: 40%;
    height: 50%;             /* coloquei a classe style na "box-form da pagina "style"*/          
    margin-bottom: 20%;
    background-color: #796255; 
    padding: 20px;  
    border-radius: 12px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20%; 
}


@media (max-width: 1550px) {
    .box-form {
        margin-top: 5%;
        width: 45%;  
        min-height: 90%;
        background-color: 796255;
    }

    label, input, select, button {
        font-size: 12pt; 
    }

    form {
        width: 100%;
        gap: 20px;  
        margin-bottom: 5%;
    }
}
