.container-suport{
    background-color: #dbccc4; 
    width: 100%;
    height: 70vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.box-cards{
    width: 65%;
    height: 45%;
    display: flex;
    align-items:start;
    justify-content: center;
    gap: 10%;
    
}

.card-left{
    background-color: #796255;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    justify-content: end;
    overflow: visible;
    color: white;
    margin-top: 12%;
}

.card-left h1{
    position: relative;
    top: -45%;
}

.card-left h3{
    position: relative;
    top: -43%;
}

.photo-left{
    background-image: url('/assets/img/JA-picture.png');
    background-size: cover  ; /* Faz a imagem cobrir toda a div */
    background-position:center 20% ; /* Centraliza a imagem */
    background-repeat: no-repeat;
    width: 85%;
    height: 40%;
    position: relative;
    top: -50%;
    border-radius: 12px;
}


.box-cards a{
    background-color:#cca695;
    position: relative;
    top: -100px;
    padding: 5%;
    text-decoration: none;
    border-radius: 12px;
    color: #ffffff;
}


    @media(max-width:1550px){
        .box-cards{
            width: 75%; 
            gap: 20%; 
            margin-bottom: 5%;
        }
    
        .card-left{
            width: 45%; /* Aumentando a largura dos cards para uma visualização melhor em telas menores */
            height: 95%;
        }
    
        .photo-left{
            width: 80%; /* Aumentando a largura das imagens para uma melhor adaptação */
            height: 40%; /* Ajustando as alturas das fotos para balancear com os novos tamanhos */
            top: -45%;
        }
    
        .box-cards a{
            padding: 4%; /* Ajustando o tamanho do botão */
            top: -80px; /* Ajuste no botão para o novo layout */
        }

        .card-left h1{
            position: relative;
            top: -40%;
        }
        
        .card-left h3{
            position: relative;
            top: -38%;
        }
    }

.card-left:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.box-cards a:hover{
    background-color: #b07e66; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    transform: translateY(-5px); 
    cursor: pointer;
}